[eos-0.1-centos-contrib]
name=CentOS Contrib
baseurl=http://mirrors.ustack.com/repo/eos-0.1/centos/cr/x86_64/
enabled=1
gpgcheck=0

[eos-0.1-centos-centosplus]
name=CentOS centosplus
baseurl=http://mirrors.ustack.com/repo/eos-0.1/centos/centosplus/x86_64/
enabled=1
gpgcheck=0

[eos-0.1-centos-base]
name=CentOS base
baseurl=http://mirrors.ustack.com/repo/eos-0.1/centos/os/x86_64/
enabled=1
gpgcheck=0

[eos-0.1-centos-updates]
name=CentOS updates
baseurl=http://mirrors.ustack.com/repo/eos-0.1/centos/updates/x86_64/
enabled=1
gpgcheck=0

[eos-0.1-centos-extras]
name=CentOS Extras
baseurl=http://mirrors.ustack.com/repo/eos-0.1/centos/extras/x86_64/
enabled=1
gpgcheck=0

[eos-0.1-foreman]
name=CentOS foreman
baseurl=http://mirrors.ustack.com/repo/eos-0.1/other/foreman-1.8/
enabled=1
gpgcheck=0

[eos-0.1-other-base]
name=CentOS other base
baseurl=http://mirrors.ustack.com/repo/eos-0.1/other/base/
enabled=1
gpgcheck=0

[eos-0.1-epel]
name=CentOS epel
baseurl=http://mirrors.ustack.com/repo/eos-0.1/epel/x86_64/
enabled=1
gpgcheck=0

[eos-0.1-ustack]
name=ustack
baseurl=http://mirrors.ustack.com/repo/eos-0.1/ustack/
enabled=1
gpgcheck=0

[eos-0.1-openstack-liberty]
name=openstack-liberty
baseurl=http://mirrors.ustack.com/repo/eos-0.1/centos/cloud/x86_64/openstack-liberty/
enabled=1
gpgcheck=0

[eos-0.1-ruby193]
name=ruby193
baseurl=http://mirrors.ustack.com/repo/eos-0.1/centos/sclo/x86_64/rh/ruby193/
enabled=1
gpgcheck=0

[eos-0.1-puppet]
name=puppet repo from puppetlab
baseurl=http://mirrors.ustack.com/repo/eos-0.1/other/puppet/
enabled=1
gpgcheck=0

[eos-0.1-postgresql]
name=puppet repo from puppetlab
baseurl=http://mirrors.ustack.com/repo/eos-0.1/other/postgresql/
enabled=1
gpgcheck=0

[uos-release]
name=uos relaese
baseurl=http://mirrors.ustack.com/repo/uos-release/
enabled=1
gpgcheck=0
