# This repo is managed by Puppet, don't edit by hand.
[ustack_uos2_{{ environments }}]
# UOS 2.0 products
name=Packages for uStack base - x86_64
baseurl=http://mirrors.ustack.com/repo/ustack/uos2/el6/{{ environments }}/RPMS/x86_64
enabled=1
gpgcheck=0
