127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ manage_prefix }}{{ host_last_num.stdout }} server-{{ host_last_num.stdout }}.{{ domain }} server-{{ host_last_num.stdout }}
10.255.0.43 puppet.0.uc.ustack.in
10.255.0.61 {{ domain_region }}.mirrors.ustack.com
10.255.0.201 foreman.ustack.com
