# This repo is managed by Puppet, don't edit by hand.
[ustack_base_{{ environment }}]
name=Packages for uStack base - x86_64
baseurl=http://mirrors.ustack.com/repo/base/{{ environment }}/RPMS/x86_64
enabled=1
gpgcheck=0

[ustack_custom_{{ environment }}]
name=Packages for uStack custom Packages6 - x86_64
baseurl=http://mirrors.ustack.com/repo/ustack/{{ environment }}/RPMS/x86_64
enabled=1
gpgcheck=0
